@import url('../CSS/fonts.css');

body {
  background: linear-gradient(to bottom, #ffffff, #b5d8fd);
}

main {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.estadias-hero {
  text-align: center;
  margin-bottom: 2.5rem;
  padding: 2rem 1rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.08);
}

.estadias-hero h2 {
  font-family: 'Helvetica';
  font-size: 2rem;
  color: #0074D9;
  margin-bottom: 0.5rem;
}

.estadias-hero p {
  font-size: 1.1rem;
  color: #333;
  margin: 0;
}

.hoteles-lista {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-bottom: 3rem;
}

.hotel {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.521);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.hotel:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.4);
}

.hotel img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.hotel-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hotel-info h4 {
  font-family: 'Quicksand';
  font-weight: 900;
  font-size: 1.2rem;
  color: #001f3f;
  margin: 0;
}

.hotel-info p {
  margin: 0;
  line-height: 1.5;
}

.hoteles-argentina h3,
.hoteles-internacionales h3 {
  font-size: 1.8rem;
  font-family: 'Helvetica';
  color: #0074D9;
  margin-bottom: 5.5rem;
  text-align: center;
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}

.hoteles-argentina h3::after,
.hoteles-internacionales h3::after {
  content: "";
  display: block;
  margin: 0.6rem auto 0 auto;
  width: 150px;
  height: 4px;
  border-radius: 2px;
  background: linear-gradient(90deg, #ff914d 0%, #ffe066 100%);
}

.hotel-img-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.hotel-img-portada,
.hotel-img-interior {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.4s;
}

.hotel-img-interior {
  opacity: 0;
  z-index: 2;
}

.hotel:hover .hotel-img-interior {
  opacity: 1;
}

.hotel:hover .hotel-img-portada {
  opacity: 0;
}

.estadias-hero{
  padding: 15px 30px;
  border: 10px solid;
  border-image: linear-gradient(to right, #0074D9, #7FDBFF) 1;
  clip-path: inset(0 round 10px);
}

.estadias-admin h3 {
  text-align: center;
  font-size: 2.3rem;
  font-family: 'Quicksand', Arial, sans-serif;
  color: #0077cc;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 1.5rem;
  position: relative;
  letter-spacing: 1px;
}

.estadias-admin h3::after {
  content: "";
  display: block;
  margin: 0.7rem auto 0 auto;
  width: 180px;
  height: 4px;
  border-radius: 2px;
  background: linear-gradient(90deg, #0077cc 0%, #ff914d 100%);
}