.form-container {
  max-width: 400px;
  margin: 5rem auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  background: #f9f9f9;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label {
  margin-top: 0.8rem;
}

.form-container input {
  padding: 0.5rem;
  margin-top: 0.3rem;
  border-radius: 4px;
  border: 1px solid #aaa;
}

.form-container button {
  margin-top: 1.5rem;
  padding: 0.7rem;
  background: #0077cc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.form-container p {
  text-align: center;
  margin-top: 1rem;
}

.show-password-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px
}

.password-wrapper {
    position: relative;
    width: 100%;
  }

  .password-wrapper input {
    width: 100%;
    box-sizing: border-box;
  }

  #password-rules {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 0.9rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-top: 5px;
    width: max-content;
    z-index: 10;

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  #password-rules.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  #password-rules p {
    margin: 4px 0;
  }